<!DOCTYPE html>
<html>

<head>
    <title> My Task App </title>

    <link rel = "stylesheet"
          href = "{{ url_for('static', filename = 'Style.css')}}">
</head>

<body>

<div class = "container">
    <h1> My Task App </h1>
    <p> Delete Task Feature Coming Soon!</p>

    <input
        id = "taskInput"
        type = "text"
        placeholder = "Enter a task"
        >

    <br>

    <button onclick = "addTask()">
        Add Task
    </button>

    <h2>Tasks:</h2>
    <ul id = "taskList"> </ul>

</div>

<script src = "{{ url_for('static', filename = 'Script.js')}}"></script>

</body>

</html>